* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #BCBCBC;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

.menu {
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  visibility: hidden;
}

.menu-ui {
  background-color: #BCBCBC;
  border: 1px solid #EFEFEF;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: 5% auto;
  padding: 0% 8px;
  padding-top: 8px;
  padding-bottom: 5%;
  width: 50%;
  min-width: fit-content;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.menu-buttons button {
  background-color: #4D5C58E9;
  border: none;
  border-radius: 4px;
  color: #EFEFEF;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25rem;
  padding: 8px 24px;
}

.menu-buttons hr {
  border: none;
  outline: 1px solid #55555550;
  width: 75%;
}

.menu-close {
  display: flex;
  justify-content: flex-end;
}

.menu-close > img:hover {
  cursor: pointer;
}

.ui-wrapper {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  width: 100%;
}

.ui-wrapper hr {
  border: none;
  box-shadow: 0px 4px 8px 2px hsla(0, 0%, 0%, 0.25);
  margin-top: 12px;
  margin-bottom: 18px;
  outline: 1px solid #EFEFEF;
}

.ui-wrapper button {
  background-color: #5D6D68;
  border: none;
  border-radius: 8px;
  color: #EFEFEF;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25rem;
  padding: 8px 24px;
}

.button-wrapper {
  display: grid;
  align-items: center;
  row-gap: 8px;
  grid-column: 6 / 7;
  justify-self: center;
}

.button-wrapper > button {
  align-self: flex-start;
}

.player > p {
  color: #555555;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.player > h1 {
  color: #4D5C58;
  text-align: center;
}

.player {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  justify-self: center;
}

div > .first {
  grid-column: 2 / 4;
}

div > .second {
  grid-column: 9 / 11;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(75px, 175px));
  grid-template-rows: repeat(3, minmax(75px, 175px));
  background-color: #EFEFEF;
  gap: 16px;
}

.gamecell {
  background-color: #BCBCBC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
}