body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.game > button {
  border: none;
}

.header, .footer {
  width: 100%;

  background-color: slategray;
  text-align: center;
}

.game {
  height: 600px;
  width: 600px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 16px;

  background-color: rgb(0 0 0 / 0.1);
  border: 1px solid rgb(0 0 0 / 0.125);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.interface {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 16px;
}

.interface > hr {
  width: 100%;
}

.controls, .player {
  display: flex;
  flex-direction: column;
}

.controls {
  align-items: center;
}

.player {
  font-size: 1.5rem;
  font-weight: 900;
}

.player > label {
  padding: 4px 8px;

  background-color: rgb(0 0 0 / 0.1);
  border: 1px solid black;
}

.two {
  text-align: end;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.square {
  display: grid;
  place-items: center;
  text-align: center;

  background-color: white;
  font-weight: bold;
  font-size: 7.5rem;
  cursor: pointer;
}

.turn, .restart, .player > label {
  border-radius: 8px;
}

.turn {
  margin: 0;

  color: black;
  text-align: center;
}

.restart {
  padding: 8px 24px;
  margin-bottom: 48px;

  display: flex;
  justify-self: center;

  background-color: rgb(0 0 0 / 0.1);
  border: 1px solid rgb(0 0 0 / 0.25);
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.hide {
  cursor: default;
}